services:
  app_api:
    container_name: ${APP_API_CONTAINER}
    build: 
        context: configs/dockerfiles
        dockerfile: 'Dockerfile.php-apache'
    restart: unless-stopped
    environment:
      - TZ=America/Fortaleza
    volumes:
      - ./app-api:/var/www/html
      - ./configs/entrypoint.sh:/var/www/html/entrypoint.sh
      - ./configs/php/php.ini:/usr/local/etc/php/php.ini      
      - ./configs/apache/host.conf:/etc/apache2/sites-available/host.conf
      - ./configs/apache/ports.conf:/etc/apache2/ports.conf
    ports:
      - ${APP_API_PORT}:80
    networks:
      - rede

  app_front:
    container_name: ${APP_FRONT_CONTAINER}
    build: 
        context: configs/dockerfiles
        dockerfile: 'Dockerfile.node'
    restart: unless-stopped
    environment:
      - TZ=America/Fortaleza
    volumes:
      - ./app-front:/app
      - /app/node_modules 
    ports:
      - ${APP_FRONT_PORT}:3000
    networks:
      - rede

  postgres:
    container_name: ${POSTGRES_CONTAINER}
    image: postgres:14-bullseye
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./configs/postgres/database:/var/lib/postgresql/data
      - ./configs/postgres/entrypoint:/docker-entrypoint-initdb.d/
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - rede

  redis:
    container_name: ${REDIS_CONTAINER}
    image: redis:4.0
    restart: unless-stopped
    # entrypoint: ["redis-server","/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./configs/redis-server/data:/data
    #   - ./configs/redis-server/redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - ${REDIS_PORT}:6379
    networks:
      - rede

networks:
  rede:
    driver: bridge
